.clip-wrapper {
    margin-top: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
}

.filter-wrapper {
    margin: 5px 10px 15px 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.basic-react-select {
    max-width: 500px;
    min-width: 250px;
}

.individual-filter-container {
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}