.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9da7ad;
    border-radius: 5px;
    margin: 20px 30px 20px 30px;
    padding: 10px 20px 10px 20px;
}

.clip-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    max-width: 600px;
}

label {
    margin: 5px;
    padding: 5px 20px 10px 20px;
    min-width: 225px;
}

button {
    max-width: 100px;
    background-color: #8c52ff76;
    border: 0;
    border-radius: 5px;
    min-width: 50px;
    min-height: 50px;
}