.clipPanel {
    padding: 10px;
    background-color: #9da7ad;
    border-radius: 5px;
}

.clipPanel button {
    border: 0px;
    border-radius: 5px;
    background-color: #8c52ff76;
    margin: 0px 10px 0px 10px;
    padding: 5px;
    width: 75px;
}

